html { 
    background: url(img/wallpaper.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rectangle-bleu {
    height: 50px;
    width: 100%;
    background: linear-gradient(#50A2FF, #4790E3, #3B77BC, #3C79BF);
    left:0px;
    bottom:0px;
    position: absolute;
}

.rectangle-vert {
    height: 50px;
    width: 10%;
    background: linear-gradient(#8ED44D, #89CC4A, #81C046, #76B040, #6DA33B);
    left:-15px;
    bottom:0px;
    position: absolute;
    z-index: 1;
    border-radius: 15px;
}

.logo {
    height:35px;
    left: 20px;
    bottom:8px;
    position :absolute;
    z-index:2;
}

.start {
    z-index: 2;
    position: absolute;
    left: 65px;
    bottom: -6px;
    font-style: oblique;
    font-family: 'Segoe UI', sans-serif;
    color:#fff;
    text-shadow: 0 0 5px #000;
}

.poste-de-travail-img {
    width: 60px;
    top: 10px;
    left : 20px;
    position: absolute;
}


.poste-de-travail-txt {
    top:50px;
    position: absolute;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-family: 'Tahoma', sans-serif;
}

.internet-explorer-img {
    width: 55px;
    top: 120px;
    left : 20px;
    position: absolute;
}


.internet-explorer-txt {
    top:155px;
    position: absolute;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-family: 'Tahoma', sans-serif;
}

.corbeille-img {
    width: 50px;
    bottom: 110px;
    left : 20px;
    position: absolute;
}


.corbeille-txt {
    bottom:65px;
    position: absolute;
    left: 20px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-family: 'Tahoma', sans-serif;
}